.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__curent-group 
        = @group.name
      %ul.main-header__left-box__member-list 
        -@group.users.each do |user|
          Member: 
          %li=user.name
          
    .main-header__edit-btn 
      = link_to "edit", class: "EDITlink" do
        Edit

  .main-messages
    = render @messages
    -# .message
    -#   .upper-message
    -#     %p.message__upper-info__talker
    -#       田中
    -#     %p.message__upper-info__date
    -#       2020/04/15(Wed)21:41:00
    -#   %p.message__text
    -#     まだメッセージはありません
    -# .message
    -#   .upper-message
    -#     %p.message__upper-info__talker
    -#       田中
    -#     %p.message__upper-info__date
    -#       2020/04/15(Wed)21:41:00
    -#   %p.message__text
    -#     まだメッセージはありません

  -# .main-form
  -#   %form.new_messeage
  -#     .input-box
  -#       %input{type: "text", class: "input-box__text", placeholder: "type a message"}
  -#       %label{class: "input-box__image"}
  -#         = icon('fas','image')
  -#         %input{type: "file", class: "input-box__image__file"}
  -#     %input.submit-btn(type="submit" value="Send")/
      
  .main-form
    .input-box
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'input-box__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'input-box__image__file'
        = f.submit 'Send', class: 'submit-btn'
